[submodule "usr/share/neubot-www"]
	path = usr/share/neubot-www
	url = https://github.com/neubot/neubot-www
[submodule "neubot_scheduler/http"]
	path = neubot_scheduler/http
	url = https://github.com/bassosimone/neubot-package-http
